* {
  box-sizing: border-box;

}

:root {
  --background-color: #B4CDED;
}
body {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

 .img-thumbnail {
    width: 25vh;
    float: left;
    margin: 0 5px 0 5px;
    border-radius: 100px;
  }

  h2{
    font-size: 50px;
  }
  
  #about{
    font-size: 50px;
    margin-left: 20px;
  }
  #about-me{
    font-size: 30px;
    display: flex;
    align-items: center;
  }

  .socials {
    height: 200px;
} 

.card-img-top{
  width: 460px;
}




  